__pycache__/
*.py[cod]
.ipynb_checkpoints/

outputs/
logs/
runs/
wandb/

*.pt
*.pth
*.ckpt
*.npy
*.npz

RAHFL-master/Dataset/cifar_10_c/
RAHFL-master/Dataset/cifar_10/
RAHFL-master/Dataset/cifar_100/
RAHFL-master/Dataset/cifar_100_c/
PRIME-augmentations-main/data/
